<%- include("layouts/header.ejs") %>

<div class="container text-center py-4">
  <div class="py-4">
    <a href="/" class="btn btn-primary mx-3">Volver</a>
    <h1 class="my-5"><%=titulo%></h1>
  </div>

  <div class="row g-6 my-4 py-5" style="height: 60vh">
    <p><%=texto%></p>
  </div>
</div>

<%- include("layouts/footer.ejs") %>
